@import "main"

fieldset
  border: none
  border-bottom: 1px solid $dark-glass
  padding: 0 0 12px
  margin: 0 0 16px
  display: grid
  grid-template-columns: 50% 50%

  @media (max-width: 650px)
    grid-template-columns: 100%

  > *
    padding: 10px

  .wide
    grid-column: 1 / span 2

  legend
    font-size: 1.2em
    font-weight: bold
    margin-bottom: 8px
    padding: 0

label
  display: flex
  flex-direction: column
  color: $light-glass

  &:not(:last-child)
    margin-bottom: 10px

  .info
    font-size: 0.9em
    color: rgba(255, 255, 255, 0.6)
    padding: 8px
    transition: opacity 0.1s linear

    &.hidden
      opacity: 0

    code
      color: cornflowerblue
      background: rgba(0, 0, 0, 0.4)
      padding: 2px
      border-radius: 5px

input, textarea, select
  font-family: inherit
  padding: 12px 8px
  border: none
  color: white
  margin-top: 8px
  font-size: 1.1em
  background-color: rgba(0, 0, 0, 0.2)

  &:focus
    outline: 1px solid cornflowerblue
    background-color: rgba(0, 0, 0, 0.25)

  &.small
    font-size: 0.9em

  &[disabled]
    background: #556
    color: #ccd
    cursor: not-allowed

textarea
  resize: vertical
  @extend .scrollable

select
  cursor: pointer

  &:hover:not([disabled])
    background-color: rgba(0, 0, 0, 0.3)
    outline: 1px solid rgba(255, 255, 255, 0.2)

  option
    background-color: #446

.buttons-left, .buttons-right
  display: flex
  align-items: center

  > *
    margin: 6px

    &:first-child
      margin-left: 0

.buttons-left
  justify-content: start

.buttons-right
  justify-content: end

  > *
    margin: 6px
