$main-bg: #414156
$accent: #ff5878

body
  font-family: inter, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  background: linear-gradient(#31313b, #30303a) fixed
  color: white
  margin: 0
  font-size: 15px

a, button.link
  color: #80adff
  text-decoration: none

  &:hover
    color: #88e0d7
    text-decoration: underline
    cursor: pointer

.icon-left
  font-size: 1.2em
  margin-right: 4px

button.link
  background: none
  border: none
  font-size: inherit
  font-family: inherit

  &:not(:focus)
    outline: none

.button
  display: inline-flex
  align-items: center
  background-color: #25252d
  outline: 1px solid rgba(255, 255, 255, 0.1)
  margin: 1px
  padding: 10px
  border-radius: 5px
  color: white
  border: none
  font-family: inherit
  font-size: inherit
  cursor: pointer

  svg
    @extend .icon-left

  &:not([disabled]):hover
    text-decoration: none
    background-color: #32323f
    outline: 1px solid rgba(255, 255, 255, 0.2)

  &:not([disabled]):active
    transform: scale(0.96)

  &[disabled]
    cursor: not-allowed
    filter: saturate(50%) brightness(75%) contrast(60%)

  &:focus
    outline-width: 2px
    filter: brightness(120%)

button.icon
  @extend .button
  border-radius: 100%
  width: 26px
  height: 26px
  padding: 0
  display: inline-flex
  align-items: center
  justify-content: center

  svg
    margin: 0

button, .button, button.icon
  &.red
    color: #f8a
    background-color: #512
    outline-color: rgba(255, 128, 128, 0.2)

    &:not([disabled]):hover
      background-color: #623

  &.green
    color: #8fa
    background-color: #142
    outline-color: rgba(128, 255, 128, 0.2)

    &:not([disabled]):hover
      background-color: #253

.icon-text
  display: flex
  align-items: center

  svg
    flex-shrink: 0
    @extend .icon-left

.skewed
  font-size: 1.4em
  font-weight: bold
  transform: skew(-8.5deg)
  text-shadow: 0.4px 0
  color: lightblue
