body
  background: linear-gradient(#373742, #30303a) fixed
  color: white
  margin: 0

a, button.link
  color: cornflowerblue
  text-decoration: none

  &:hover
    color: orange
    text-decoration: underline
    cursor: pointer

button.link
  background: none
  outline: none
  border: none
  font-size: inherit
  font-family: inherit

h1
  text-align: center
